{{ define "main" }}
  <header class="py-4">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </header>

  <div class="bg-white py-5">
    <div class="container">
      {{ .Content }}

      <div class="card-columns">
        {{ range .Paginator.Pages }}
            <a href="{{ .Permalink }}">
              <div class="card h-100">
                <img src="{{ .Permalink }}illustration.jpg" class="card-img" alt="...">

                <div class="card-img-overlay">
                  <h3 class="card-title">{{.Title}}</h3>
                </div>
              </div>
            </a>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}