<div class="bg-primary py-2 text-light">
  <div class="container d-flex flex-wrap">
    <p class="m-0 font-weight-bold mr-3"><i class="fas fa-mobile-alt"></i> +7 921 245 11 31</p>
    <p class="m-0 font-weight-bold mr-3"><i class="fas fa-mobile-alt"></i> +7 921 475 08 44</p>
    <p class="m-0 font-weight-bold"><i class="fas fa-envelope"></i> <a class="text-light" href="mailto:unionscb@mail.ru">unionscb@mail.ru</a></p>
  </div>
</div>

<header class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}images/logo.jpg" alt="Союзспецстрой" width="300">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Открыть меню">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {{ partial "site-navigation.html" .}}
    </div>
  </div>
</header>