{{ define "main" }}
  <article>
    <header class="py-4">
      <div class="container">
        <h1>{{ .Title }}</h1>
        {{ with .Params.date }}
          <p class="text-muted m-0">{{ .Format "2.01.2006" }}</p>
        {{ end }}
      </div>
    </header>
    
    <div class="bg-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 order-lg-last mb-4">
            {{ if .Parent.Params.sectionMenu }}
              <ul class="nav nav-pills flex-column">
                {{ $url := .Permalink }}

                {{ range .Parent.Paginator.Pages.ByWeight }}
                <li class="nav-item">
                  <a class="nav-link {{ if eq $url .Permalink }} active {{ end }}" href="{{ .Permalink }}">{{.Title}}</a>
                </li>
                {{ end }}
              </ul>
            {{ end }}
          </div>

          <div class="col-lg-8">
            {{ with .Resources.GetMatch "illustration.jpg" }}
              {{ $illustration := .Resize "600x" }}
              <img class="float-right" src="{{ $illustration.Permalink }}">
            {{ end }}

            {{ .Content }}
          </div>
        </div>


      </div>
    </div>
  </article>
{{ end }}