{{ define "main" }}
  <div class="jumbotron jumbotron-fluid m-0">
    <div class="container">
      <h1 class="display-4">Союзспецстрой</h1>
      <p class="lead">Компания ООО «Союзспецстрой» предлагает широкий спектр услуг, включая непосредственно строительство, а также реконструкцию сооружений различного типа и ремонт помещений любой сложности и назначения.</p>
      <p>Преимущества сотрудничества с нами:</p>
      <ul>
        <li>Экономия средств заказчика при гарантированном качестве строительства</li>
        <li>Вы можете быть уверены, что работа будет выполнена в срок, профессионально, качественно, творчески. Если же клиенту нужно получить его раньше срока, то мы сделаем все, чтобы выполнить его требование</li>
        <li>Индивидуальный подход к заказчикам</li>
      </ul>
      <a class="btn btn-primary btn-lg" href="/about/main" role="button">О компании</a>
      <a class="btn btn-primary btn-lg" href="/services" role="button">Виды работ</a>
    </div>
  </div>
{{ end }}